streamlit==1.58.0

pydantic-ai==1.107.0
pydantic==2.13.4
google-genai
bcrypt
groq
certifi
langchain
langchain-text-splitters
langchain-community
langchain-google-genai
google-generativeai==0.8.5
langchain-chroma==1.1.0
chromadb==1.5.9


opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1

pymongo==4.17.0

python-dotenv==1.2.2

langfuse==4.9.1
